.profile__edit-avatar-btn {
  height: 120px;
  width: 120px;
  position: absolute;
  background: #000000 url(../../../images/edit-avatar-btn.svg) no-repeat center;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  opacity: 0;
  z-index: 2;
  transition: all 0.5s ease;
}


.profile__edit-avatar-btn:hover {
  opacity: 0.8;
}
