.footer {
  margin: 0 auto;
  padding: 0;
  max-width: 880px;
  margin-top: 68px;
  /* padding-block: 68px; */
  padding-bottom: 60px;
  flex-shrink: 0;
}
@media (max-width: 910px) {
  .footer {
    padding: 0 19px;
    padding-bottom: 36px;
    margin-top: 48px;
  }
}
