.popup__container {
  padding: 0;
  margin: 0;
  position: relative;
  max-width: 430px;
  min-width: 282px;
  width: 100%;
}

@media (max-width: 910px) {
  .popup__container {
    width: 282px;
  }
}
